<div class="container">
    <div class="row header">
        <div class="col-md-3">
            <h1>Eve{{ icon('question') }}Ask</h1>
        </div>
        <div class="col-md-5">
            <ul class="nav nav-pills pills-header">
                <li><a href="#">Questions</a></li>
                <li><a href="#">Tags</a></li>
                <li><a href="#">Users</a></li>
                <li><a href="#">About</a></li>
            </ul>
        </div>
        <div class="col-md-4">
            <ul class="nav nav-pills pull-right pills-header">
                <li><a href="#">{{ icon('plus') }} New Question</a></li>
            </ul>
        </div>
    </div>
</div>
